{% extends "AppCoder/padre.html" %}

{% load static %}

    {% block contenido %}

        <br><br><br>
        <h1>Crear usuario</h1>
        <br>
        
        {% if miFormulario.errors %}

        <p style="color: red;"> Datos erroneos.</p>

        {% endif %}

        <form action="/AppCoder/clientesFormulario" method="POST">{% csrf_token%}
            
            <table>

                {{ miFormulario.as_table }}

            </table>
            
            <br>

            <input type="submit" value="Enviar">
            <br><br>
        </form>
        

    {% endblock %}